<!doctype html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Hopitale</title>

    <link rel="shortcut icon" href="./../assets/images/fav.jpg">
    <link rel="stylesheet" href="./../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../assets/css/fontawsom-all.min.css">
     <link rel="stylesheet" href="./../assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css" />
    <style>
        h3 {
            text-align:center;
        }
    </style>
</head>
<body>
    <header id="menu-jk">
    
        <div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3  col-sm-12"  style="color:#000;font-weight:bold; font-size:42px; margin-top: 1% !important;"><a href="/front">Hopital</a>
                       <a data-toggle="collapse" data-target="#menu" href="#menu" ><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                         <ul>
                            <li><a href="/front">Acceuil</a></li>
                            <li><a href="/front/A_propos">A propos</a></li>
                            <li><a href="/front/Contact">Contact</a></li>
                            <li><a href="https://127.0.0.1:8000/login">S'inscrire</a></li>
                            <li><a href="/front/identifier">S'identifier</a></li>  
                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                        <a class="btn btn-success" href="https://127.0.0.1:8000/login">Réserver un rendez-vous</a>
                    </div>
                </div>
    
            </div>
        </div>
    </header>
    <br><br>
    <h3 >À propos de notre hôpital</h3><br>
    <section id="apropos" class="about-us">
        <div class="row no-margin">
            <img src="./../assets/images/gallery/gallery_08.jpg" class="img-responsive" height="300px">
            <div class="col-sm-6 abut-yoiu">
            <p> Notre Hôpital met à votre disposition ce site Internet pour mieux vous servir. Vous y trouverez une présentation complète de la clinique, des soins qui vous sont proposés, des médecins et spécialités, du plateau technique et des équipements de confort mis à votre disposition.  </p>

            </div>
        </div>
    </section>    
    <br>
    <footer class="footer">
        <div class="container">
            <div class="row">
       
                <div class="col-md-6 col-sm-12">
                    <ul class="list-unstyled link-list">
                   
                            <li><a href="/front">Acceuil</a></li>
                            <li><a href="/front/A_propos">A propos</a></li>
                            <li><a href="/front/Contact">Contact</a></li>
                            <li><a href="https://127.0.0.1:8000/login">S'inscrire</a></li>
                            <li><a href="/front/identifier">S'identifier</a></li>  
                        </ul>
                </div>
                <div class="col-md-6 col-sm-12 map-img">
                    <h2>Contacter Nous</h2>
                    <address class="md-margin-bottom-40"><br>
                        Téléphone: +216 73 367 160<br>
                        Email: <a href="mailto:someone@example.com?subject=Questions" style="color:silver"> hmshospital@gmail.com</a><br>
                        Ouverture: Du 8h à 00h 
                    </address>
                </div>
            </div>
        </div>
        
    
    </footer>
    <div class="copy">
            <div class="container">Copyright© 2023
            </div>
    
        </div>
</body>

<script src="./../assets/js/jquery-3.2.1.min.js"></script>
<script src="./../assets/js/popper.min.js"></script>
<script src="./../assets/js/bootstrap.min.js"></script>
<script src="./../assets/plugins/scroll-nav/js/jquery.easing.min.js"></script>
<script src="./../assets/plugins/scroll-nav/js/scrolling-nav.js"></script>
<script src="./../assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>

<script src="./../assets/js/script.js"></script>



</html>